body {
    padding: 0;
    margin: 0;
  }
  
  body,
  html {
    height: 100%;
  }
  .sel {
      width:75%;
  }
  #map {
      position: relative;
      height:400px;
      width:100%;
      margin-top:40px;
      margin-bottom: 40px;
  }


/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    overflow: auto;
}

/* The styles for the parallax */
.covid {
    position: relative;
    height: 400px;
    padding: 20px;
    margin: 0;
    background-image: url("../images/twittercorona.jpg");
    opacity: 0.75;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}

.covid h1 {
    margin-top: 100px;
    font-size: 4rem;
    font-weight: 600;
    animation: title 1.2s forwards linear;
    color: black;
}

.covid p {
    font-size: 2rem;
    font-weight: 500;
    animation: subtitle 1.2s forwards linear;
    color: black;
}

/* Panel Choice */
.well {
    margin-top: 30px;
    padding: 5px;
    border: 1px solid lightskyblue;
    background-color: rgb(216, 214, 214);
    border-radius: 10px;
    opacity: 0.7;
}

/* Footer styling */
.footer {
    text-align: center;
    position: bottom;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 600px) {

    .covid h1 {
        margin-top:50px;
        font-size: 3rem;
        animation: title 1.2s forwards linear;
    }
    
    .covid p {
        font-size: 2rem;
        animation: subtitle 1.2s forwards linear;
    }

    .panel-title {
        margin-top:50px;
        font-size: 3rem;
        animation: title 1.2s forwards linear;
    }

}